.footer-contact {
  margin-bottom: 9px;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--super-waite);

  display: inline-block;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact);

  display: inline-block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
